<div class="container-fluid">
    <h1>
        <a href="http://content.guardianapis.com/search?api-key=test">{{title}}</a>
    </h1>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>

    <label for="article">Search Articles</label>
    <input id="article" type="text" (keyup)=filter($event.target.value)>

    <br/>
    <h2>Found Articles:</h2>
        <div *ngFor="let article of articles | async" class="list-group">
            <a [href]="article.webUrl" class="list-group-item col-md-8" target="_blank">{{article.webTitle}}</a>
            <span class="list-group-item col-md-4">section: {{article.sectionName}}</span>
        </div>
</div>
